.day-container{
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #efefef 5px solid;
  background: #f8f8f8;
  height: 120px;
  transition: 1s all ease-in;
}

.day-container:hover{
  background: grey;
}

.day-container img{
  width: 50px;
}

.day-container a{
  text-decoration: none;
  color: black;
}
